%h1 XueTang Project
%table#Categories
  %thead
    %tr
      %th= link_to 'All categories', category_path, :id => 'title_header'
  %tbody
    - @categories.each do |category|
      %tr
        %td= link_to "#{category.title}", category_path(category.id)
