= form_tag({:controller => "comments", :action => "create"}, :method => 'post') do
  = label_tag(:content, "My comment")
  = text_field_tag :content
  = submit_tag "Submit", :class => "btn btn-default"
