%h1 XueTang Project
%table#Articles
  %thead
    %tr
      %th Title
      %th Author
    %tbody
      - @articles.each do |article|
        %tr
          %td= article.title
          %td= article.author
%button= link_to "new", new_article_path
