%h1 XueTang Project
%table#Articles
  %thead
    %tr
      %th= 'All articles'
    %tbody
      - @articles.each do |article|
        %tr
          %td= 'abc'
%button= link_to "hehe", new_article_path
