-# edit.html.haml using partial

%h1 Edit Existing Category
%div.row-fluid
  %div.span2
    =render "nav"
  %div.span10
    = form_tag admin_category_path(@category), :method => :put do
      = label :category, :name, 'Name'
      = text_field :category, 'name', :value => @category.name, :placeholder => "Name"
      %br
      = submit_tag 'Update Category Info', :class => "btn"
