%ul.nav.nav-list.table-bordered
  %li.nav-header Operation
  %li
    = link_to 'Edit Categary', admin_category_path(0)
    = link_to 'Edit Lesson Table', admin_lesson_table_path(0)
    = link_to 'Priviledge Config', '/admin/user'
    = link_to 'Admin Logout', admin_login_path() + "?logout=true"
